* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #f3f7fd;
}

.custom-container {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: start;
}

.main-container {
  flex: 3;
  display: flex;
  background: red;
}

.side-container {
  flex: 1;
  background: blue;
}
